
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<li>@Html.ActionLink("Food","ViewCategory", "Categories")</li>
<li>@Html.ActionLink("Tech", "ViewCategory", "Categories")</li>
<li>@Html.ActionLink("Sports", "ViewCategory", "Categories")</li>

