@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2084-Lab 2</h1>
    <p class="lead">This is a Lab-2 to create a MVC web application and performing some basic MVC concepts.</p>
    <p><a href="https://github.com/BansariPatel96" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

